/Catalano.Math/build/
/Catalano.Core/build/
/Catalano.Image/build/
/Catalano.Statistics/build/
*.class
*.jar
*.html
*.png
*.xml
/Catalano.Core/dist/
/Catalano.Math/dist/
/Catalano.Statistics/dist/
/Catalano.Image/dist/
/Catalano.MachineLearning/build/
/Catalano.Signal/nbproject/private/
/Catalano.Signal/build/
/Catalano.MachineLearning/dist/
/Catalano.Fuzzy/build/
/Catalano.Fuzzy/dist/
/Catalano.Vision/build/
/Catalano.Vision/dist/
*.netbeans_automatic_build
/Catalano.Neuro/build/
/Catalano.Neuro/dist/