/Catalano.Math/build/
/Catalano.Core/build/
/Catalano.Image/build/
/Catalano.Statistics/build/
*.class
*.jar
*.html
*.png
*.xml
/Catalano.Core/dist/
/Catalano.Math/dist/
/Catalano.Statistics/dist/
/Catalano.Image/dist/
/Catalano.MachineLearning/build/