/Catalano.Math/build/
/Catalano.Core/build/
/Catalano.Image/build/
/Catalano.Statistics/build/
*.class
*.jar
*.png
/Catalano.Core/dist/
/Catalano.Math/dist/
/Catalano.Statistics/dist/
/Catalano.Image/dist/
/Catalano.MachineLearning/build/
/Catalano.Signal/build/
/Catalano.MachineLearning/dist/
/Catalano.Fuzzy/build/
/Catalano.Fuzzy/dist/
/Catalano.Video/build/
/Catalano.Video/dist/
/Catalano.Vision/build/
/Catalano.Vision/dist/
/Catalano.Neuro/build/
/Catalano.Neuro/dist/
/Catalano.IO/build/
/Catalano.IO/dist/
/Catalano.Android.Image/bin/
/Catalano.Android.Image/gen/
/Catalano.Android.Image/libs/
/Catalano.Graph/build/
/Catalano.Graph/dist/
/Catalano.Signal/dist/
/Catalano.NLP/nbproject/private/
/Catalano.NLP/build/
Catalano.Android.Image/bin/jarlist.cache
Catalano.Android.Image/bin/jarlist.cache
Catalano.Android.Image/bin/jarlist.cache
Catalano.Android.Image/bin/jarlist.cache
/Catalano.Genetic/nbproject/private/
/Catalano.Genetic/build/
/Catalano.Genetic/dist/